* {
    margin: 0;
    padding: 0
}

html,
body {
    height: 100%;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    color: black;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: black;
}

p {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: blue;
}

div {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: black;

}

#game-screen {
    position: relative;
    overflow: hidden;
}